SpecFlow.xUnit_SkunkWorks/SpecFlow.xUnit_SkunkWorks/Service References/ServiceReference1/MegaTracWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MegaTracWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.142.156/MegaTrac_Public/MegaTracWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.142.156/MegaTrac_Public/MegaTracWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.142.156/MegaTrac_Public/MegaTracWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MegaTrac.WS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMegaTracWS_APVendorImport_InputMessage">
    <wsdl:part name="parameters" element="tns:APVendorImport" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_APVendorImport_OutputMessage">
    <wsdl:part name="parameters" element="tns:APVendorImportResponse" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_ARCustomerImport_InputMessage">
    <wsdl:part name="parameters" element="tns:ARCustomerImport" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_ARCustomerImport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ARCustomerImportResponse" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_APInvoiceImport_InputMessage">
    <wsdl:part name="parameters" element="tns:APInvoiceImport" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_APInvoiceImport_OutputMessage">
    <wsdl:part name="parameters" element="tns:APInvoiceImportResponse" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_ARInvoiceImport_InputMessage">
    <wsdl:part name="parameters" element="tns:ARInvoiceImport" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_ARInvoiceImport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ARInvoiceImportResponse" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_GLLegacyJournalImport_InputMessage">
    <wsdl:part name="parameters" element="tns:GLLegacyJournalImport" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_GLLegacyJournalImport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GLLegacyJournalImportResponse" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_GLProfitandLossJournalImport_InputMessage">
    <wsdl:part name="parameters" element="tns:GLProfitandLossJournalImport" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_GLProfitandLossJournalImport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GLProfitandLossJournalImportResponse" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_CustomerStatusExport_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerStatusExport" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_CustomerStatusExport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerStatusExportResponse" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_FullyPaidInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:FullyPaidInvoices" />
  </wsdl:message>
  <wsdl:message name="IMegaTracWS_FullyPaidInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:FullyPaidInvoicesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMegaTracWS">
    <wsdl:operation name="APVendorImport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMegaTracWS/APVendorImport" message="tns:IMegaTracWS_APVendorImport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMegaTracWS/APVendorImportResponse" message="tns:IMegaTracWS_APVendorImport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ARCustomerImport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMegaTracWS/ARCustomerImport" message="tns:IMegaTracWS_ARCustomerImport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMegaTracWS/ARCustomerImportResponse" message="tns:IMegaTracWS_ARCustomerImport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="APInvoiceImport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMegaTracWS/APInvoiceImport" message="tns:IMegaTracWS_APInvoiceImport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMegaTracWS/APInvoiceImportResponse" message="tns:IMegaTracWS_APInvoiceImport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ARInvoiceImport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMegaTracWS/ARInvoiceImport" message="tns:IMegaTracWS_ARInvoiceImport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMegaTracWS/ARInvoiceImportResponse" message="tns:IMegaTracWS_ARInvoiceImport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GLLegacyJournalImport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMegaTracWS/GLLegacyJournalImport" message="tns:IMegaTracWS_GLLegacyJournalImport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMegaTracWS/GLLegacyJournalImportResponse" message="tns:IMegaTracWS_GLLegacyJournalImport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GLProfitandLossJournalImport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMegaTracWS/GLProfitandLossJournalImport" message="tns:IMegaTracWS_GLProfitandLossJournalImport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMegaTracWS/GLProfitandLossJournalImportResponse" message="tns:IMegaTracWS_GLProfitandLossJournalImport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerStatusExport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMegaTracWS/CustomerStatusExport" message="tns:IMegaTracWS_CustomerStatusExport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMegaTracWS/CustomerStatusExportResponse" message="tns:IMegaTracWS_CustomerStatusExport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FullyPaidInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IMegaTracWS/FullyPaidInvoices" message="tns:IMegaTracWS_FullyPaidInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMegaTracWS/FullyPaidInvoicesResponse" message="tns:IMegaTracWS_FullyPaidInvoices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMegaTracWS" type="tns:IMegaTracWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="APVendorImport">
      <soap:operation soapAction="http://tempuri.org/IMegaTracWS/APVendorImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ARCustomerImport">
      <soap:operation soapAction="http://tempuri.org/IMegaTracWS/ARCustomerImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APInvoiceImport">
      <soap:operation soapAction="http://tempuri.org/IMegaTracWS/APInvoiceImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ARInvoiceImport">
      <soap:operation soapAction="http://tempuri.org/IMegaTracWS/ARInvoiceImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GLLegacyJournalImport">
      <soap:operation soapAction="http://tempuri.org/IMegaTracWS/GLLegacyJournalImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GLProfitandLossJournalImport">
      <soap:operation soapAction="http://tempuri.org/IMegaTracWS/GLProfitandLossJournalImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerStatusExport">
      <soap:operation soapAction="http://tempuri.org/IMegaTracWS/CustomerStatusExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FullyPaidInvoices">
      <soap:operation soapAction="http://tempuri.org/IMegaTracWS/FullyPaidInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MegaTracWS">
    <wsdl:port name="BasicHttpBinding_IMegaTracWS" binding="tns:BasicHttpBinding_IMegaTracWS">
      <soap:address location="http://192.168.142.156/MegaTrac_Public/MegaTracWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>